


h1{
    color:blue;
}

a{
    color: orange;
}

/* FLEXBOX INFO */
.main-nav{
    color: white;
    background-color: navy;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-link{
    padding: 1em;
    border-color: coral;
    margin: 2em;
}